<div>
  <div>
    <div class="m-5">
      <table class="table table-hover table-bordered">
        <thead>
          <tr >
            <!-- to do: trocar top por colunms: ok -->
            <th scope="col" *ngFor="let colunm of colunms" >{{ colunm }}</th>
          </tr>
        </thead>
        <tbody>
            <!-- to do:trocar line por rows: ok -->
            <tr class="" *ngFor="let row of rows">
              <td *ngIf="row.id">
                {{ row.id }}
              </td>
              <td *ngIf="row.name">
                {{ row.name }}
              </td>
              <td *ngIf="row.price">
                {{ row.price }}
              </td>
              <td>
                <button class="btn btn-primary btn-sm" *ngIf="!row.selected" >+</button>
                <button class="btn btn-danger btn-sm " *ngIf="row.selected" >-</button>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
